@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');


* {
	margin: 0;
	padding: 0;
	max-width: 100%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    /* overflow-x: hidden; */
    max-width: 100%;
    /* min-height: 100%;
	position: relative;
	overflow-x: hidden; */
    padding: 0;min-height: 100%;
	position: relative;
	overflow-x: hidden;
}

.menu {
	width: 2%;
	float: left;
	padding: 15px;
	padding-left: 0px;
	border: 0px;
}

.main {
	width: 70%;
	float: left;
	padding: 15px;
	border: 0px solid;

}

.right {
	width: 21%;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 0px;
	border: 0px solid;
}


.header {
    background-color: #333;
    color: #fff;
    overflow: hidden;
	border: 0px solid;
	padding: 0px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.navbar .logo {
    width: 140px;
    height: auto;
    padding: 10px 0;
}

.navbar ul {
    float: right;
    margin-right: 0px;
    padding-top: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 6px 13px;
    text-decoration: none;
    /* transition: .4s;  */
    /*meka danna epa*/
    position: relative;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;

}

article:last-child {
    margin-bottom: 0;
}

article h2 {
    margin: 20px 0 10px 0;
}



article p {
    margin-top: 16px;
    line-height: 24px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    float: left;
    padding-top: 30px;
    border: 0px;
}

footer p {
    font-size: 16px;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

}

footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 0px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;

}

@media screen and (max-width: 1080px) {

	*{
		max-width: 100%;
	}

	.menu {
		display: none;
	}

	.main {
		width: 100%;
		padding: 5px;
		left: 0;
	}

	.right {
		margin: 0;
	}	
	

	

	.header a {
		float: none;
	}


	.article {
		background-color: #fff;
		padding: 0px;
		margin-bottom: 20px;
		border-radius: 5px;
		position: relative;
		float: none;
		display: inline;
		text-align: left;
		box-sizing: content-box;


	}


	.article:last-child {
		margin: 0;
		padding: 0;
	}

	 .article h2 {
		margin: 	0px 0 0px 0;
	}
	
	
	/*
	.article p {
		margin-top: 16px;
		line-height: 24px;
	} */
}

@media screen and (max-width: 768px) {

	*{
		max-width: 100%;
	}

	.menu {
		display: none;
	}

	.main {
		width: 100%;
		padding: 5px;
		left: 0;
	}

	.right {
		margin: 0;
	}	
	

	

	.header a {
		float: none;
	}


	.article {
		background-color: #fff;
		padding: 0px;
		margin-bottom: 20px;
		border-radius: 5px;
		position: relative;
		float: none;
		display: inline;
		text-align: left;
		box-sizing: content-box;


	}


	.article:last-child {
		margin: 0;
		padding: 0;
	}

	 .article h2 {
		margin: 	0px 0 0px 0;
	}
	
	
	/*
	.article p {
		margin-top: 16px;
		line-height: 24px;
	} */
}

@media screen and (max-width: 480px) {

	*{
		max-width: 100%;
	}

	.menu {
		display: none;
	}

	.main {
		width: 100%;
		padding: 5px;
		left: 0;
	}

	.right {
		margin: 0;
	}	
	

	

	.header a {
		float: none;
	}


	.article {
		background-color: #fff;
		padding: 0px;
		margin-bottom: 20px;
		border-radius: 5px;
		position: relative;
		float: none;
		display: inline;
		text-align: left;
		box-sizing: content-box;


	}


	.article:last-child {
		margin: 0;
		padding: 0;
	}

	 .article h2 {
		margin: 	0px 0 0px 0;
	}
	
	
	/*
	.article p {
		margin-top: 16px;
		line-height: 24px;
	} */
}

#map {
	height: 400px;
	width: 400px;

}





